*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header .orange{
    background-color: #fdcb6e;
    height: 60px;
    width: 100%;
    padding: 8px 20px;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    -webkit-box-align: center;
    
}

header .orange p{
    font-weight: 600;
    text-align: center;
    font-size: 14px;
}

.black {
    height: 60px;
    background: black;
    color: white;
    text-align: center;
}

.logo{
    height: auto;
    min-height: 60px;
    text-align: center;
    padding: 20px 230px;
    border-bottom: 1px solid black;
}

.logo img{
    height: 38.38px;
    width: 460px;
}

nav{
    height: 96px;
    text-align: center;
    border-bottom: 1px solid black;
}

.home-header{
    position: relative;
    width: 100%;
    height: 400px;
    background: url('img/495-cbd-header-home.jpeg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    margin-left: 12rem;
    margin-right: 12rem;
}

.cbd-block-wrapper {
    background: #252A21;
    padding: 10px;
}

.cbd-block-wrapper {
    position: absolute;
    bottom: -50px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    padding: 30px 140px;
    color: white;
    text-align: center;
}

.line {
    width: 100px;
    color: chartreuse;
    margin-top: 1rem;
    margin-left: 5rem;
}

.categories{
    background: url('img/500-seamless-pattern-2x.jpeg.webp');
    height: 309px;
}

.fleurs{
    background: url('img/439-fleur-bg-2x.png.webp');
}
