*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header .orange{
    background-color: #fdcb6e;
    height: 60px;
    width: 100%;
    padding: 8px 20px;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    -webkit-box-align: center;
    
}

header .orange p{
    font-weight: 600;
    text-align: center;
    font-size: 14px;
}

.black {
    height: 60px;
    background: black;
    color: white;
    text-align: center;
}

.logo{
    height: auto;
    min-height: 60px;
    text-align: center;
    padding: 20px 230px;
    border-bottom: 1px solid black;
}

.logo img{
    height: 38.38px;
    width: 460px;
}